@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  font-family: "Lato", sans-serif;
  overflow-x:hidden ;
}

#root {
  display: flex;
  flex-direction: column;
}

:root {
  --header-height: 4.5rem; /* desktop: 3rem logo + 1rem padding top/bottom */
}

@media (max-width: 1000px) {
  :root {
    --header-height: 4rem; /* mobile: 2.4rem logo + padding */
  }
}

.app-content {
  flex: 1;
   
}
